@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 5% 13%;
    --foreground: 210 40% 98%;
    --card: 212 32% 28%;
    --card-foreground: 210 40% 98%;
    --popover: 210 5% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 252 20% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 212 32% 28%;
    --secondary-foreground: 210 40% 98%;
    --muted: 212 32% 23%;
    --muted-foreground: 210 40% 60%;
    --accent: 252 20% 43%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 212 32% 35%;
    --input: 212 32% 35%;
    --ring: 252 20% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Starfield Animation */
.stars-shadow {
  box-shadow: 100px 200px #fff, 400px 500px #fff, 800px 100px #fff,
    1200px 800px #fff, 300px 900px #fff, 600px 300px #fff,
    150px 700px #fff, 900px 400px #fff, 1100px 600px #fff;
}
.stars2-shadow {
  box-shadow: 200px 300px #fff, 600px 100px #fff, 1000px 600px #fff,
    50px 800px #fff, 1300px 200px #fff;
}
.stars3-shadow {
  box-shadow: 300px 400px #fff, 700px 250px #fff, 1100px 750px #fff;
}
